{% extends "base.html.twig" %}


{% block title %}All programs
{% endblock %}

{% block body %}
	<div class="d-flex align-items-center">
		<h1>Toutes les séries de la table program :
		</h1>
			<a href="{{path("program_new")}}">
					<button class='btn-secondary btn mx-3'>Ajouter une série</button>
				</a>
	</div>
	{% for program in programs %}
		<div>
			<h2>{{ loop.index }}
				/
				{{ program.title }}
				- Catégorie :
				{{ program.categorie.name }}</h2>
			<p>{{ program.synopsis }}</p>
			<a href="{{ path("program_show", { id: program.id }) }}"><button type="button" class="btn-sm btn-dark">Voir la fiche</button></a>
		</div>
	{% else %}
		Aucune série trouvée.
	{% endfor %}

	<a href="{{ path('program_index') }}">
		Retour à l'accueil
	</a>
{% endblock %}
