{% extends "base.html.twig" %}

{% block title %}Série #{{ program.id }}
{% endblock %}

{% block body %}

	<div class="media">
		<img class="align-self-start mr-3" src="{{ program.poster }}" alt="{{ program.title }} poster" width="200px">
		<div class="media-body">
			<div class="d-flex">
				<h1 class="mt-0">{{ program.title }}</h1>

				<a id='watchlist' href="{{path('program_watchlist_add', {id: program.id})}}">
					<button type="button" class="btn btn-dark ms-3 mb-3">
						<i id='watchlistBtn' class="bi {{app.user.isInWatchlist(program)  ? 'bi-suit-heart-fill' : 'bi-suit-heart' }}"></i>
					</button>
				</a>
			</div>

			<p>{{ program.synopsis }}</p>
			<p>Catégorie :
				{{ program.categorie.name }}</p>
			<p>saison(s) disponibles :
				<ul>
					{% for item in seasons %}
						<li>
							<a href='{{ path("program_season_show", { slug : program.slug, season : item.id })}}'>Saison
								{{item.number}}</a>
						</li>
					{% endfor %}
				</ul>
			</p>
			<strong>Acteurs :</strong>
			<ul>
				{% for actor in program.actors %}
					<a href="{{path('app_actor_show', {id: actor.id})}}">
						<li>{{ actor.firstname }}
							{{actor.lastname}}</li>
					</a>
				{% else %}
					<li>Aucun acteur pour cette série</li>
				{% endfor %}
			</ul>

		</div>
	</div>

	<form method="post" action="{{ path('program_delete', {'id': program.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
		<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ program.id) }}">
		<button class="btn-sm btn-secondary">Supprimer</button>
	</form>

	<a href="{{ path('program_index') }}">
		Retour à la liste des programmes
	</a>
{% endblock %}
